{% extends 'base.html' %}

{% block title %}
Your Shopping Cart
{% endblock %}
{% block content %}
<div class=" max-w-lg mx-auto my-20 bg-white rounded-lg overflow-hidden md:max-w-md shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
    <div class="px-4 py-2 border-b border-gray-200">
        <h2 class="font-semibold text-gray-800 text-3xl font-sans text-center">Your Shopping Cart</h2>
    </div>
    <div class="flex flex-col divide-y divide-gray-200">
        {% for item in cart %}
        {% with product=item.product %}
        <div class="flex items-center py-4 px-6">
            <a href="{{product.get_absolute_url}}" class="">
                <img class="w-16 h-16 object-cover rounded" src="{{product.image.url}}" alt="Product Image">
            </a>
            <div class="ml-3">
                <h3 class="text-gray-900 font-sans font-semibold">{{product.name}}</h3>
                <p class="text-gray-700 mt-1 font-sans">$ {{item.price}}</p>
            </div>
           
                <form action="{% url 'cart:cart_remove' product.id %}" method="post" class="ml-auto">
                    {% csrf_token %}
                <button type="submit" class="ml-auto py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded-lg">
                    Remove
                </button>
                   </form>
      
        </div>
        {% endwith %}
        {% endfor %}
        <h3 class="text-gray-900  text-end text-3xl p-4 font-sans">Total: <span class="font-semibold mx-2">${{cart.get_total_price}}</span></h3>
        </div>
        <div class="flex font-sans items-center justify-between px-6 py-3 bg-gray-200">
            <button class="py-3 px-4 bg-teal-500 hover:bg-teal-600 text-white rounded">
                <a href="{% url 'product:product_list' %}" class="">Continue Shopping</a>
            </button>
            
            <button class="py-3 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded">
                <a href="{% url 'orders:order_create' %}" class="">Checkout</a>
        </button>
        
        </div>
    </div>
    
{% endblock %}

