{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="min-h-[300px]">
    <div class="relative" >
        <img src="" alt="" class="slide" data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine" data-aos-offset="5000"
        data-aos-duration="5000">
        <div class="bg-white p-10 rounded-xl absolute top-[50%] right-[50%]">
            <p class="">
                welcome to my shop
            </p>
        </div>
    </div>
   
</div>
<div class="my-10 mx-10 grid md:grid-cols-3 grid-cols-1 gap-4 ">
    <div class="px-10 py-5 rounded-lg border-2 border-lime-600 flex flex-col items-center justify-center">
         <div class="">
            <i class="fa-solid fa-truck text-6xl text-lime-700"></i>
         </div>  
        <p class="text-md text-lime-600">
            Free Shipping
        </p>
      
    </div>
    <div  class="px-10 py-5 rounded-lg border-2 border-lime-600 flex flex-col items-center justify-center">
           <div class="">
            <i class="fa-solid fa-credit-card text-6xl text-lime-700"></i>
           </div>
        <p class="text-md text-lime-600">
            Secure payment 
        </p>
      
    </div>
    <div class="px-10 py-5 rounded-lg border-2 border-lime-600 flex flex-col items-center justify-center">
         <div class="">
            <i class="fa-solid fa-headset text-6xl text-lime-700"></i>
         </div>   
        <p class="text-md text-lime-600">
            24/7 Support
        </p>
        
      
    </div>
</div>
<div class="bg-gray-100 md:pb-28 pb-14">
    <h1 class="text-4xl text-center text-gray-700 font-semibold py-6 uppercase">Deals of the Day</h1>
<div class="md:px-6 px-5 grid md:grid-cols-5 gap-4 grid-cols-1 ">
    {% for product in products %}
<div class="shadow-2xl rounded-b-xl my-4 " data-aos="zoom-in">
    <a href="{{product.get_absolute_url}}" class="">
        <img src="{{product.image.url}}" alt="{{product.name}}" class="w-full  h-64 object-center object-cover rounded-t-lg">
        <div class="bg-white rounded-xl p-4 font-sans">
           
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{product.category}}</h3>
                <h2 class="text-gray-900 title-font text-sm font-medium">{{product.name |title}}</h2>
                <p class="mt-1 "><span class="font-semibold">Price:</span> ${{product.price}}</p>
              
            <div class="mt-2">
                
                    <form action="{% url 'cart:cart_add' product.id %}" method="post" class="">
                        {% csrf_token %}
                        {{form}}
                        <button type="submit" class=" w-full text-white py-2 px-4 rounded text-sm  hover:translate-x-2 hover:duration-700  hover:ease-linear transition-all bg-teal-500 hover:bg-teal-800 hover:text-white uppercase">add to cart</button>
                    </button>
                    </form>
                
            </div>
        </div>
    </a>


</div>
{% endfor %}
</div>
</div>
<div class="min-h-[600px] md:px-2 px-4 py-4 md:py-10 bg-gradient-to-b from-lime-500 to-lime-100">
    
    <h2 class="text-4xl text-center text-white capitalize font-semibold mt-6">
         client reviews
    </h2>
    <hr class="mx-auto w-[120px] mt-3 border-2 border-gray-100 rounded-xl ">
    <div class="my-10 flex justify-between items-center md:space-x-6  flex-col-reverse md:flex-row">
        <div class="mb-4 px-6 py-6 bg-white rounded-xl shadow-2xl">
                <div class="flex items-center justify-between">
                        <div class="">
                        <img src="{% static 'image/client1.png' %}" alt="" class="w-[80px] h-[80px] rounded-full ring-2 ring-lime-300 mr-2" />
                        </div>
                        <div class="">
                        <h2 class=" md:text-lg text-md mb-2 text-gray-700">jane doe</h2>
                    <div class="flex items-center gap-1">
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star-half-stroke text-lime-600"></i>

                    
                            </div>
                        </div>
                    <span class="ml-10">
                        <i class="fa-solid fa-quote-right text-lime-700 text-8xl"></i>
                       
                    </span>
                 </div>
                <div class="mt-2">
                     <p class="text-md leading-tight font-light text-gray-400">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sit maxime cumque. Exercitationem nisi necessitatibus porro facilis iusto, officiis in.
                     </p>
                </div>
      </div>
        <div class="mb-4 px-6 py-6 bg-white rounded-xl shadow-2xl">
                <div class="flex items-center justify-between">
                        <div class="">
                        <img src="{% static 'image/client2.png' %}" alt="" class="w-[80px] h-[80px] rounded-full ring-2 ring-lime-300 mr-2" />
                        </div>
                        <div class="">
                        <h2 class=" md:text-lg text-md mb-2 text-gray-700">john doe</h2>
                    <div class="flex items-center gap-1">
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star-half-stroke text-lime-600"></i>

                    
                            </div>
                        </div>
                    <span class="ml-10">
                        <i class="fa-solid fa-quote-right text-lime-700 text-8xl"></i>
                    </span>
                 </div>
                <div class="mt-2">
                     <p class="text-md leading-tight font-light text-gray-400">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sit maxime cumque. Exercitationem nisi necessitatibus porro facilis iusto, officiis in.
                     </p>
                </div>
      </div>
        <div class="mb-4 px-6 py-6 bg-white rounded-xl shadow-2xl">
                <div class="flex items-center justify-between">
                        <div class="">
                        <img src="{% static 'image/client3.png' %}" alt="" class="w-[80px] h-[80px] rounded-full ring-2 ring-lime-300 mr-2" />
                        </div>
                        <div class="">
                        <h2 class=" md:text-lg text-md mb-2 text-gray-700">lindah smith</h2>
                    <div class="flex items-center gap-1">
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star text-lime-600"></i>
                        <i class="fa-solid fa-star-half-stroke text-lime-600"></i>

                    
                            </div>
                        </div>
                    <span class="ml-10">
                        <i class="fa-solid fa-quote-right text-lime-700 text-8xl"></i>
                    </span>
                 </div>
                <div class="mt-2">
                     <p class="text-md leading-tight font-light text-gray-400">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sit maxime cumque. Exercitationem nisi necessitatibus porro facilis iusto, officiis in.
                     </p>
                </div>
      </div>
      
     
</div>
    </div>
</div>
<script>
    var imageUrls = [
    "{% static 'image/img1.jpg' %}",
    "{% static 'image/img2.jpg' %}"
    ];
   
        var currentIndex = 0;
        var slideImage = document.querySelector('.slide');

        function nextSlide() {
            currentIndex = (currentIndex + 1) % imageUrls.length; 
            slideImage.src = imageUrls[currentIndex];
        }

        setInterval(nextSlide, 5000);

    </script>
{% endblock %}