{% extends 'base.html' %}

{% block  title %}
{% if category %}{{category.name}} {% else %}Products{%endif %}
{% endblock %}
{% block content %}
<h3 class="text-3xl">Categories</h3>
<ul class="">
    <li class="{% if not category %} text-blue-500 {% endif %}">
        <a href="{% url 'product:product_list' %}" class="">All</a>
    </li>
     {% for c in categories %}
     <li class="{% if category.slug == c.slug %} text-green-500{% endif %}">
        <a href="{{c.get_absolute_url}}" class="">{{c.name}}</a>
     </li>
     {% endfor %}
</ul>
<hr>
<h1 class="text-4xl text-center ">{% if category %}{{category.name}} {% else %}Products{%endif %}</h1>
<div class="max-w-7xl mx-auto grid grid-cols-4 gap-4 place-content-center mt-6">
    {% for product in products %}
<div class="shadow-2xl">
    <a href="{{product.get_absolute_url}}" class="">
        <img src="{{product.image.url}}" alt="{{product.name}}" class="w-full h-96 object-center object-cover rounded-t-lg">
        <div class="bg-white rounded-b-lg p-6">
            <p class="text-xl">{{product.name |title}}</p>
        </div>
    </a>
</div>
{% endfor %}
</div>
{% endblock %}