{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% endblock %} | Shop</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="leading-normal tracking-normal font-mono">
		<header class="bg-gray-100 p-4 relative text-white">
			<nav class="max-w-6xl mx-auto flex items-center justify-between">
				<div class="space-x-4 md:block hidden">
					<a href="" class="inline-flex justify-between items-center">
						<i class="fa-brands text-2xl transition-all hover:delay-200 hover:duration-700 hover:scale-125 hover:rotate-12 hover:ease-in-out text-blue-500 hover:text-blue-600 rounded-full bg-white fa-facebook"></i>
					</a>
					<a href="" class="">
						<i class="fa-brands fa-instagram text-2xl transition-all hover:delay-200 hover:duration-700 hover:scale-125 hover:rotate-12 hover:ease-in-out text-rose-300   hover:text-rose-400 rounded-full"></i>
					</a>
					<a href="" class="">
						<i class="fa-brands fa-youtube text-2xl transition-all hover:delay-200 hover:duration-700 hover:scale-125 hover:rotate-12 hover:ease-in-out text-red-500 hover:text-red-600 rounded-full"></i>
					</a>
				</div>
				<div class="">
					<a href="" class="md:text-4xl text-xl text-gray-800 font-bold uppercase">revived artist</a>
				</div>
				<div class="space-x-4 inline-flex items-center justify-between">
					<div class="md:block hidden">
						<i class="fa-solid fa-magnifying-glass text-2xl text-gray-800"></i>
						<input type="search" name="query" class="hidden border-gray-800 border-2 bg-white rounded-lg">
					</div>
					<a href="" class="">
						<i class="fa-solid fa-cart-plus text-2xl text-teal-500"></i>
					</a>
					<div class="">
						<i class="fa-solid fa-user text-2xl border-2 border-gray-700 px-2.5 py-2.5 bg-white rounded-full text-gray-800"></i>
					</div>
				</div>
				<button class="md:hidden block">
					<i class="fa-solid fa-bars text-2xl bg-black border-2 border-gray-700"></i>
				</button>
			</nav>
		</header>
		<div class="bg-teal-500 p-4 space-x-6 text-white hidden md:flex items-center justify-center ">
			<a href="" class="text-xl text-center font-semibold ">Home</a>
			<a href="" class="text-xl text-center font-semibold">About</a>
			<a href="" class="text-xl text-center font-semibold">Exhitions</a>
			<a href="" class="text-xl text-center font-semibold">Contact us</a>
			<a href="" class="text-xl text-center font-semibold">Artist profile</a>
			<a href="" class="text-xl text-center font-semibold">Privacy policy</a>
		</div>
		<div class="bg-blue-500 text-white p-4">
			<a href="{% url 'accounts:logout' %}" class="text-lg">logout</a>
			<a href="{% url 'accounts:login' %}" class="text-lg">login</a>
			<a href="{% url 'accounts:register' %}" class="text-lg">register</a>
			<div class="">
				{% with total_items=cart|length %}
				{% if total_items > 0 %}
				    Your cart:
					<a href="{% url 'cart:cart_detail' %}" class="">
						{{total_items}} item{{total_items|pluralize}}, ${{cart.get_total_price}}
					</a>
				{% elif not order %}
				<p class="">Your cart is empty</p> 
				{% endif %} 
				{% endwith %} 
			</div>
		</div>
		{% block content%}
		<div class="container mx-auto">
			
		</div>
		{% endblock %}
		<script src="https://kit.fontawesome.com/a0e99f8a3c.js" crossorigin="anonymous"></script>
	</body>
</html>
