{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% endblock %} | Shop</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
		{% tailwind_css %}
	</head>

	<body class="">
		<header class="">
          <nav class="flex justify-center itmes-center px-10 py-2 drop-shadow-2xl bg-gray-100">
			<div class="">
				<form action="" method="get" class="flex items-center justify-center relative">
					<input type="text" placeholder="Search here..." class="px-8 py-3 text-xl rounded-full ">
					<button type="submit" class=""><i class="fa-solid fa-magnifying-glass text-xl absolute right-6 top-[20px]"></i></button>

				</form>
			</div>
			
		  </nav>
		</header>
		<div class="  bg-slate-800 md:px-20 px-5 py-4  text-white flex items-center justify-between">
			<a href="/" class="text-3xl font-light capitalize font-sans md:block hidden">revivedArtist</a>
			<div class="md:flex hidden space-x-8 items-center  justify-center">
				<a href="" class="text-xl font-sans text-center font-thin">home</a>
				<a href="" class="text-xl font-sans text-center font-thin">about</a>
				<a href="" class="text-xl font-sans text-center font-thin">contact</a>
				<a href="" class="text-xl font-sans text-center font-thin">exhbitions</a>
				{% if request.user.is_authenticated %}
				<a href="{% url 'accounts:logout' %}" class="text-xl font-sans text-center font-thin ">logout</a>
				{% else %}
				<a href="{% url 'accounts:login' %}" class="text-xl font-sans text-center font-thin ">login</a>
				<a href="{% url 'accounts:register' %}" class="text-xl font-sans text-center font-thin">register</a>
				{% endif %}
				{% with total_items=cart|length %}
				{% if total_items > 0 %}
					<a href="{% url 'cart:cart_detail' %}" class="">
						<span class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none transform translate-x-1/2 -translate-y-1/2 bg-white text-gray-800 rounded-full" id="cart-count">{{total_items}}</span> 
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
						  </svg>						  
						  
					</a>
				{% elif not order %}
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
				  </svg> 
				{% endif %} 
				{% endwith %} 
				
			</div>
		</div>
	
		

		
		{% block content%}
		<div class="">
			
		</div>
		{% endblock %}
		<footer class="bg-slate-800 text-white font-sans">
			<div class=" p-6">
				<div class="grid grid-cols-1 md:grid-cols-4 place-content-center  md:gap-20 gap-6">
					<div class="mb-4  col-span-2 ">
					    <h2 class="text-3xl mb-4 font-semibold">About</h2>
						<img src="{% static 'image/logo.png' %}" alt="" class="bg-white rounded object-cover shadow-2xl object-center   h-[72px]">
						<p class="text-xl font-light">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima modi pariatur architecto maxime voluptas vitae excepturi voluptatum dolor, laboriosam nam obcaecati dolorum, sunt, praesentium blanditiis quos nisi fugit in? Pariatur fugiat modi blanditiis molestias. Ut laborum incidunt possimus rerum blanditiis!
						</p>

					</div>
					<div class=" col-span-2 flex justify-between md:flex-row flex-col">
						<div class="w-full mb-6 ">
							<h2 class="text-3xl font-semibold mb-4">Links</h2>
						<div class=" flex flex-col justify-between gap-y-2">
							<a href="" class="text-xl">Home</a>
							<a href="" class="text-xl">About</a>
							<a href="" class="text-xl">Exhibitions</a>
							<a href="" class="text-xl">Contact us</a>
							<a href="" class="text-xl">Privacy Policy</a>
							<a href="" class="text-xl">Term of use</a>
						</div>
						</div>
						<div class="w-full mb-6">
							<h2 class="mb-4 text-3xl font-semibold">Visit Us</h2>
							<p class="text-lg">
								
								Lorem ipsum dolor sit.<br>
								P.O Box 0001-00 <br> 
								Nairobi
							  </p>
							<div class="my-4">
								<h2 class="text-3xl font-semibold mb-2 ">Social</h2>
								<a href="">
							<i class="fa-brands  fa-youtube text-2xl transition-all hover:delay-200 hover:duration-700 hover:scale-125 hover:rotate-12 hover:ease-in-out text-white "></i>
	
								</a>
								<a href="">
							<i class="fa-brands  fa-instagram text-2xl transition-all hover:delay-200 hover:duration-700 hover:scale-125 hover:rotate-12 hover:ease-in-out text-white "></i>
	
								</a>
								<a href="">
							<i class="fa-brands  text-2xl transition-all hover:delay-200 hover:duration-700 hover:scale-125 hover:rotate-12 hover:ease-in-out text-white  fa-facebook"></i>
	
								</a>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
			<p class="text-xl text-center">&copy; Copyright {% now 'Y' %}</p>
		</footer>
		<script>
			AOS.init();
		</script>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<script src="https://kit.fontawesome.com/a0e99f8a3c.js" crossorigin="anonymous"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

	</body>
</html>
