{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% endblock %} | Shop</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="">
        
		<header class="bg-lime-400 drop-shadow-2xl">
			<nav class="md:mx-14 mx-2  flex items-center justify-between">
				<div class="">
					<a href="/">
						<img src="{% static 'image/logo.png' %}" alt="logo" class="w-2/3">
					</a>
				</div>
				<div class=" space-x-8 text-xl font-extralight hidden md:flex items-center justify-center">
					<a href="" class="capitalize text-white relative group">
						home
						<span class="duration-300 absolute bottom-0 inset-x-0 scale-x-0 transform transition-transform origin-left bg-white group-hover:scale-x-100 h-0.5 "></span>
					</a>
					<a href="" class="capitalize text-white relative group">
						about
						<span class="duration-300 absolute bottom-0 inset-x-0 scale-x-0 transform transition-transform origin-left bg-white group-hover:scale-x-100 h-0.5 "></span>

					</a>
					<a href="" class="capitalize text-white relative group">
						contact
						<span class="duration-300 absolute bottom-0 inset-x-0 scale-x-0 transform transition-transform origin-left bg-white group-hover:scale-x-100 h-0.5 "></span>
										</a>
					{% with total_items=cart|length %}
					{% if total_items > 0 %}
						<a href="{% url 'cart:cart_detail' %}" class="relative">
							<span class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none transform translate-x-1/2 -translate-y-1/2 bg-white text-gray-800 rounded-full" id="cart-count">{{total_items}}</span> 
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6 text-white cursor-pointer">
								<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
							  </svg>						  
							  
						</a>
					{% elif not order %}
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white cursor-pointer">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
					  </svg> 
					{% endif %} 
					{% endwith %}

				</div>
				<button class="md:hidden block" id="menuBtn">
					<i class="fa-solid fa-bars"></i>
				</button>
				
			</nav>
		</header>

	
		

		
		{% block content%}
		<div class="">
			
		</div>
		{% endblock %}
	
<footer class="bg-gradient-to-br from-lime-500 to-lime-400 min-h-400px">
	<div class="md:px-10 px-4 py-6">
		<div class="flex  items-center md:flex-row flex-col justify-between ">
			<div class="md:w-2/5 w-full mb-4">
				<img src="{% static 'image/logo.png' %}" alt="logo" class="md:mb-4">
				<p class="text-white font-extralight">
					The <strong>revived artist</strong> group was founded in 2019 with a vision to create a platform for emerging and established artists to showcase their talents and connect with art enthusiasts worldwide. This group aims to revive and promote various forms of art, including visual arts, music, literature, performing arts, and more.
				</p>
			</div>
			<div class="md:w-3/4 w-full flex md:flex-row flex-col  justify-around ">
                <div class="mb-4">
					<h2 class="mb-4 text-2xl text-white font-semibold capitalize">
						useful links
					</h2>
					<div class="flex flex-col space-y-2.5">
						<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">home</a>
						<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">about</a>
						<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">contact</a>
						<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">privacy policy</a>
						<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">terms of use</a>

					</div>
				</div>
				<div class="">
					<h2 class="mb-4 text-2xl text-white font-semibold capitalize">
						location
					</h2>
					<div class="">
						<div class="flex items-center space-x-4 mb-2">
							<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">
								<i class="fa-sharp fa-solid text-2xl fa-location-dot"></i>
							</a>
							<p class="text-md text-white">
							 Nairobi, Kimathi street
							</p>

						</div>
						<div class="flex items-center space-x-4 mb-2">
							<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">
								<i class="fa-solid text-2xl fa-phone"></i>
							</a>
							<p class="text-md text-white">
							  +254 712-345-62
							</p>

						</div>
						<div class="flex items-center space-x-4 mb-2">
							<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">
								<i class="fa-solid text-2xl fa-envelope"></i>
							</a>
							<p class="text-md text-white">
								revivedartist@hello.com
							</p>

						</div>
					</div>
					<div class="flex items-center space-x-6 md:justify-center mt-6">
						<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">
							<i class="fa-brands text-2xl fa-facebook"></i>
						</a>
						<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">
							<i class="fa-brands text-2xl fa-twitter"></i>
						</a>
						<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">
							<i class="fa-brands text-2xl fa-instagram"></i>
						</a>
						<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">
							<i class="fa-brands text-2xl fa-youtube"></i>
						</a>
						<a href="" class="text-md text-gray-50 font-light capitalize hover:translate-x-2 duration-300 transition-transform delay-100">
							<i class="fa-brands text-2xl fa-pinterest"></i>
						</a>
						
						
						

					</div>
				</div>
			</div>
		</div>
		<p class="text-center text-gray-800 mt-4 font-light">
			copyright  &copy; revivedartist  {% now "Y" %}
		</p>
	</div>
</footer>
<script src="https://kit.fontawesome.com/a0e99f8a3c.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	</body>
</html>
