{% extends 'base.html' %}

{% block title %}
Checkout
{% endblock %}

{% block content %}
<section class="px-5 py-10 mx-auto font-sans bg-white/100 md:py-20 md:px-20">
<div class="grid gap-3 md:grid-cols-3 ">
    <div class="w-full col-span-2 p-10 mx-auto shadow-2xl md:col-span-1 bg-gradient-to-bl from-sky-500 to-sky-300 md:max-w-md rounded-xl">
        <h1 class="text-3xl text-center text-white">Order summary</h1>
        <ul class="flex flex-col items-center justify-center mt-4 list-disc">
                <div class="">
                    {% for item in cart %}
                    <li class="mb-2 text-lg text-gray-700 ">
                        {{item.quantity}} x {{item.product.name}}
                        <span class="">{{item.total_price}}</span>
                    </li>
                    {% endfor %}
                </div>
        </ul>
        <h3 class="text-xl text-center">Total: <span class="text-2xl font-semibold text-white ">${{cart.get_total_price}}</span></h3>
    </div>
        
    <div class="max-w-2xl col-span-2 px-6 shadow-2xl bg-gradient-to-bl from-sky-500 to-sky-600 rounded-xl md:px-0 ">
        <h2 class="py-4 mb-4 text-4xl text-center text-white">Order Details</h2>
        <form action="" method="post">
            {{form.non_field_errors }}
                
                     <div class="flex flex-col justify-evenly md:flex-row">
                        <div class="mb-2">
                            <label for="" class="block text-lg font-semibold text-white capitalize">first name</label>
                            
                                {{form.first_name}}
                            
                        </div>
                        <div class="mb-2">
                            <label for="" class="block text-lg font-semibold text-white capitalize">last name</label>
                            
                                {{form.last_name}}
                            
                        </div>

                     </div>
                     <div class="flex flex-col justify-evenly md:flex-row">
                        <div class="mb-2">
                            <label for="" class="block text-lg font-semibold text-white capitalize">email</label>
                            
                                {{form.email}}
                            
                        </div>
                        <div class="mb-2">
                            <label for="" class="block text-lg font-semibold text-white capitalize">address</label>
                            
                                {{form.address}}
                            
                        </div>
                     </div>
                     <div class="flex flex-col justify-evenly md:flex-row">
                        <div class="mb-2">
                            <label for="" class="block text-lg font-semibold text-white capitalize">postal code</label>
                            
                                {{form.postal_code}}
                            
                        </div>
                        <div class="mb-2">
                            <label for="" class="block text-lg font-semibold text-white capitalize">city</label>
                            
                                {{form.city}}
                            
                        </div>
                     </div>
                      <div class="">
                        {% if form.errors or form.non_field_errors %}
                        {% for field in form %}
                        {{field.errors}}
                        {% endfor %}
                        {% endif %}
                      </div>
            {% csrf_token %}
            <div class="flex justify-center m-4 ">
                <input type="submit" value="submit" class="w-full px-8 py-3 text-white bg-teal-800 md:w-1/2 rounded-xl">
            </div>
        </form>
    </div>
</div>
</section>



{% endblock %}