{% extends 'base.html' %}

{% block title %}
Payment Canceled
{% endblock %}

{% block content %}
<div class="bg-gradient-to-bl from-lime-800 py-20 px-10 md:px-0 to-lime-700 min-h-[400px]">
    <div class="max-w-xl py-20  rounded-xl bg-white mx-auto shadow-2xl">
           <span class="flex justify-center items-center ">
            <i class="fa-solid fa-money-bill-1 text-7xl text-white bg-lime-400 rounded-full px-6 py-6"></i>
           </span>
        <h2 class="md:text-4xl text-xl text-center capitalize text-gray-700">
            Your payment has not been processed
        </h2>
        <p class="text-lime-700 mt-6 text-center md:text-base text-sm">There was a problem processing your payment .</p>

    </div>
</div>

{% endblock %}