{% extends 'base.html' %}

{% block title %}
Pay your order
{% endblock %}

{% block content %}

<div class="">
    <div class="max-w-md md:mx-auto mx-10  my-20 shadow-2xl rounded-2xl bg-gradient-to-bl from-lime-800 to-lime-700">
            
        <div class="px-4 py-2 ">
            <h2 class="font-semibold text-white text-3xl font-sans text-center">Your Shopping Cart</h2>
        </div>
        <div class="  divide-y divide-gray-200">
            {% for item in order.items.all %}
            <div class="flex items-center justify-between  py-4 px-6">
                <a href="{{product.get_absolute_url}}" class="">
                    <img class="w-16 h-16 object-cover rounded" src="{{item.product.image.url}}" alt="Product Image">
                </a>
                <div class="ml-3">
                    <h3 class="text-gray-900 font-sans font-semibold ">{{item.product.name}}</h3>
                    <p class="text-white font-semibold mt-2 font-sans text-end">$ {{item.price}}</p>
                </div>
               
        
          
            </div>
            {% endfor %}
            <h3 class="text-white  text-end text-3xl p-4 font-sans">Total: <span class="font-semibold mx-2">${{order.get_total_cost}}</span></h3>
            
            <div class="flex font-sans items-center justify-center px-6 py-3">
                <form action="{% url 'payment:process' %}" method="post">
                    <input type="submit" value="Pay now" class="bg-teal-500 px-10 py-6 rounded-xl text-white text-xl cursor-pointer">
                    {% csrf_token %}
                </form>
        </div>
    
            
            </div>
    </div>

</div>
{% endblock %}
