{% extends 'base.html' %}

{% block title %}
Pay your order
{% endblock %}

{% block content %}

<div class="">
    <div class="max-w-md mx-10 my-20 shadow-2xl md:mx-auto rounded-2xl bg-gradient-to-bl from-sky-800 to-sky-700">
            
        <div class="px-4 py-2 ">
            <h2 class="font-sans text-3xl font-semibold text-center text-white">Your Shopping Cart</h2>
        </div>
        <div class="divide-y divide-gray-200 ">
            {% for item in order.items.all %}
            <div class="flex items-center justify-between px-6 py-4">
                <a href="{{product.get_absolute_url}}" class="">
                    <img class="object-cover w-16 h-16 rounded" src="{{item.product.image.url}}" alt="Product Image">
                </a>
                <div class="ml-3">
                    <h3 class="font-sans font-semibold text-white ">{{item.product.name}}</h3>
                    <p class="mt-2 font-sans font-semibold text-white text-end">$ {{item.price}}</p>
                </div>
               
        
          
            </div>
            {% endfor %}
            <h3 class="p-4 font-sans text-3xl text-white text-end">Total: <span class="mx-2 font-semibold">${{order.get_total_cost}}</span></h3>
            
            <div class="flex items-center justify-center px-6 py-3 font-sans">
                <form action="{% url 'payment:process' %}" method="post">
                    <input type="submit" value="Pay now" class="px-10 py-6 text-xl text-white bg-teal-500 cursor-pointer rounded-xl">
                    {% csrf_token %}
                </form>
        </div>
    
            
            </div>
    </div>

</div>
{% endblock %}
