{% extends 'base.html' %}

{% block title %}
Pay your order
{% endblock %}

{% block content %}

<div class="max-w-4xl mx-auto">
    <div class="px-4 py-2 border-b border-gray-200">
        <h2 class="font-semibold text-gray-800 text-3xl font-sans text-center">Your Shopping Cart</h2>
    </div>
    <div class="flex flex-col divide-y divide-gray-200">
        {% for item in order.items.all %}
        <div class="flex items-center py-4 px-6">
            <a href="{{product.get_absolute_url}}" class="">
                <img class="w-16 h-16 object-cover rounded" src="{{item.product.image.url}}" alt="Product Image">
            </a>
            <div class="ml-3">
                <h3 class="text-gray-900 font-sans font-semibold">{{item.product.name}}</h3>
                <p class="text-gray-700 mt-1 font-sans">$ {{item.price}}</p>
            </div>
           
    
      
        </div>
        {% endfor %}
        <h3 class="text-gray-900  text-end text-3xl p-4 font-sans">Total: <span class="font-semibold mx-2">${{order.get_total_cost}}</span></h3>
        </div>
        <div class="flex font-sans items-center justify-between px-6 py-3 bg-gray-200">
            <form action="{% url 'payment:process' %}" method="post">
                <input type="submit" value="Pay now" class="bg-teal-500 px-6 py-4 rounded-xl text-white text-xl cursor-pointer">
                {% csrf_token %}
            </form>
        
        </div>
    </div>
    
</div>
{% endblock %}
